Lic.pdf
Lic.toc
Lic.log
Lic.aux
Licch2only.pdf
Licch2only.toc
Licch2only.log
Licch2only.aux
Licch2only.bbl
Licch2only.idx
Licch2only.ilg
Licch2only.ind
LicChapterOnly.pdf
LicChapterOnly.toc
LicChapterOnly.log
LicChapterOnly.aux
LicChapterOnly.bbl
LicChapterOnly.idx
LicChapterOnly.ilg
LicChapterOnly.ind
chapter*.pdf
chapter*.toc
chapter*.log
chapter*.aux
chapter*.bbl
chapter*.idx
chapter*.ilg
chapter*.ind
*.gz
*.xml
./*.pdf
*.lot
*.out
*.lof
chapter*.pdf
out
libsodium
out_lib
original_sodium
out_qrcode
Lic.blg
Lic.out
pythonlogs.txt
*.synctex*
./data/cmps/*
papers
Lic2only.pdf
test*
images
report.json

chapters