Lic.pdf
Lic.toc
Lic.log
Lic.aux
Licch2only.pdf
Licch2only.toc
Licch2only.log
Licch2only.aux
Licch2only.bbl
Licch2only.idx
Licch2only.ilg
Licch2only.ind
*.gz
*.xml
./*.pdf
*.lot
*.out
*.lof
chapter*.pdf
out
libsodium
out_lib
original_sodium
out_qrcode
Lic.blg
Lic.out
pythonlogs.txt
*.synctex*
./data/cmps/*
papers
Lic2only.pdf
test*
images